extends layout 

block content 

    h1 Delete Item #{item.name}

    p Do you really want to delete this Item?

    form(method='POST')
        div.form-group
            input#id.form-control(type='hidden', name='id',value=item._id)
        button.btn.btn-primary(type='submit') Delete